# Created by .ignore support plugin (hsz.mobi)
.idea
env
py_library/py_library/__pycache__
py_library/book/__pycache__/
py_library/book/migrations/__pycache__/
py_library/pyuser/__pycache__/
py_library/pyuser/migrations/__pycache__/